{% extends "base.html" %}

{% block content %}

    <div class="fruit-gallery row justify-content-center mt-5" >
        <div class="fruit-card">
            <img src="/static/images/apple.png" alt="Apple">
            <div class="card-body">Apple</div>
        </div>
        <div class="fruit-card">
            <img src="/static/images/banana.png" alt="Banana">
            <div class="card-body">Banana</div>
        </div>
        <div class="fruit-card">
            <img src="/static/images/mango.png" alt="Mango">
            <div class="card-body">Mango</div>
        </div>
        <div class="fruit-card">
            <img src="/static/images/grapes.png" alt="Grapes">
            <div class="card-body">Grapes</div>
        </div>
    </div>


{% endblock %}